:root {
    --mainFont: var(--offWhite);
    --navBg: var(--darkTeal);
    --borderColor: var(--medTeal);

    --offWhite: rgb(204,208,213);
    --pureWhite: rgb(255,255,255);
    --lightTeal: rgb(39, 96, 112);
    --darkTeal: rgb(9, 23, 23);
    --medTeal: rgb(64, 100, 104);
    --red: rgb(162, 91, 96);

    --adobeOrange: rgb(239, 125, 56);
    --htmlOrange: rgb(211, 87, 53);
    --cssBlue: rgb(87,168,216);
    --jsYellow: rgb(237, 218, 104);
    --pink: rgb(184,91,138);
    --jqueryBlue: rgb(43,105,108);
    --wpBlue: rgb(19, 53, 165);
    --phpBlue: rgb(138,147,187);
    --postOrange: rgb(204,69,61);
    --sqlOrange: rgb(234,150,62);
    --d3Orange: rgb(231,138,88);
    --reactBlue: rgb(129,216,227);
    --vueGreen: rgb(100,181,135);
};