.hero {
    background: url('../images/spiralbg2.png') center right;
    background-size: cover;
    overflow: hidden;
    height: 32rem;
    margin: 3rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Pacifico', cursive;
        line-height: 1;
        font-size: 3.5rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        text-shadow: 0 0 5px var(--pureWhite);
        margin-bottom: 1rem;

        @media (max-width: 400px) {
            font-size: 2.7rem;
        }
    }

    h2 {
        line-height: 1;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        text-shadow: 0 0 2px var(--pureWhite);
        margin-top: 1rem;

        @media (max-width: 400px) {
            font-size: 1.3rem;
        }
    }

    div {
        text-align: center;
    }

    a {
        button {
            background-color: var(--red);
            border: 1px solid transparent;
            border-radius: 360px;
            color: var(--pureWhite);
            cursor: pointer;
            box-shadow: 0 0 10px var(--red);
            padding: 0.5rem 1rem;
            transition: var(--transitionSpeed) ease all;
            margin-bottom: 1rem;
            opacity: 0.8;
            letter-spacing: .2rem;
            font-size: 1rem;
            outline: none;

            &:hover {
                background-color: var(--hoverColor);
                box-shadow: 0 0 40px var(--borderColor);
                text-shadow: 0 0 10px var(--pureWhite);
                opacity: 1;
            }
        }
    }
}