.navigation {
    margin-bottom: 1rem;

    .nav-bar {
        background-color: var(--navBg);
    
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            padding-right: 0;
    
            a {
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                text-decoration: none;
                width: 25%;
                transition: 1s all ease;
    
                &:hover {
                    background-color: var(--hoverColor);
                    box-shadow: 0 0 10px var(--borderColor);
                    text-shadow: 0 0 10px var(--pureWhite);
                }
            
                li {
                    padding: 15px 0;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 975px) {
    .navigation {
        display: none;
    }
}