.skills {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;

        li {
            border-radius: 10px;
            opacity: .8;
            outline: none;
            text-align: center;
            transition: var(--transitionSpeed) ease all;

            &:hover {
                opacity: 1;
            }
        }
    }

    a {
        margin-bottom: 1rem;
        text-decoration: none;
        width: 32%;

        @media (max-width: 1200px) {
            width: 48%;
        }

        @media (max-width: 550px) {
            width: 100%;
        }
    }

    .blue {
        background-color: var(--jqueryBlue);
    }

    .css-blue {
        background-color: var(--cssBlue);
    }
    
    .light-orange {
        background-color: var(--htmlOrange);
    }

    .orange {
        background-color: var(--adobeOrange);
    }

    .red {
        background-color: var(--red);
    }

    .pink {
        background-color: var(--pink);
    }
    
    .yellow {
        background-color: var(--jsYellow);
    }
    
    .wp-blue {
        background-color: var(--wpBlue);
    }

    .post-orange {
        background-color: var(--postOrange);
    }

    .php-blue {
        background-color: var(--phpBlue);
    }

    .sql-orange {
        background-color: var(--sqlOrange);
    }

    .d3-orange {
        background-color: var(--d3Orange);
    }

    .react-blue {
        background-color: var(--reactBlue);
    }

    .vue-green {
        background-color: var(--vueGreen);
    }
    .certs {
        border-bottom: 1px solid var(--borderColor);

        a {
            margin-bottom: 0;

            @media (max-width: 950px) {
                width: 100%;
            }
        }

        ul {
            justify-content: center;
        }
    
        li {
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .skill-name {
        background-color: var(--navBg);
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: .5rem;
        padding-top: .5rem;
        width: 75%;

        @media (max-width: 900px) {
            width: 85%;
        }
    }
    
    .color-box {
        box-shadow: 0 0 10px var(--medTeal);
        opacity: .8;
    
        &:hover {
            background-color: var(--hoverColor);
            box-shadow: 0 0 20px var(--hoverColor);
            opacity: 1;
            text-shadow: 0 0 10px var(--pureWhite);
        }
    }
}