.skills {
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            text-align: center;
            opacity: .8;
            transition: var(--transitionSpeed) ease all;
            border-radius: 10px;
            outline: none;

            &:hover {
                opacity: 1;
            }
        }
    }

    a {
        text-decoration: none;
        width: 32%;
        margin-bottom: 1rem;

        @media (max-width: 1200px) {
            width: 48%;
        }

        @media (max-width: 550px) {
            width: 100%;
        }
    }

    .orange {
        background-color: var(--adobeOrange);
    }
    
    .light-orange {
        background-color: var(--htmlOrange);
    }
    
    .css-blue {
        background-color: var(--cssBlue);
    }
    
    .yellow {
        background-color: var(--jsYellow);
    }
    
    .red {
        background-color: var(--red);
    }
    
    .pink {
        background-color: var(--pink);
    }
    
    .blue {
        background-color: var(--jqueryBlue);
    }
    
    .wp-blue {
        background-color: var(--wpBlue);
    }

    .post-orange {
        background-color: var(--postOrange);
    }

    .php-blue {
        background-color: var(--phpBlue);
    }

    .sql-orange {
        background-color: var(--sqlOrange);
    }

    .d3-orange {
        background-color: var(--d3Orange);
    }

    .react-blue {
        background-color: var(--reactBlue);
    }

    .vue-green {
        background-color: var(--vueGreen);
    }
    .certs {
        border-bottom: 1px solid var(--borderColor);

        a {
            margin-bottom: 0;
        }

        ul {
            justify-content: center;
        }
    
        li {
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .skill-name {
        background-color: var(--navBg);
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-radius: 5px;
    }
    
    .color-box {
        box-shadow: 0 0 10px var(--medTeal);
        opacity: .8;
    
        &:hover {
            box-shadow: 0 0 20px var(--hoverColor);
            background-color: var(--hoverColor);
            text-shadow: 0 0 10px var(--pureWhite);
            opacity: 1;
        }
    }
}