:root {
  color: var(--offWhite);
  font-family: 'DizhitlRegular';
  font-size: 16px; }

a {
  color: var(--pureWhite); }

body {
  background-color: var(--bodyBg);
  position: relative; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-color: black; }
  .container.boxed {
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 10px var(--borderColor); }

.uppercase {
  text-transform: uppercase; }

.container h3,
.container p,
.container ul {
  padding-left: 1rem;
  padding-right: 1rem; }

section {
  margin-bottom: 1rem; }
  section h3 {
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--lightTeal); }

.text-center {
  text-align: center; }

:root {
  --mainFont: var(--offWhite);
  --navBg: var(--darkTeal);
  --borderColor: var(--medTeal);
  --bodyBg: rgb(12,6,17);
  --offWhite: rgb(204,208,213);
  --pureWhite: rgb(255,255,255);
  --lightTeal: rgb(39, 96, 112);
  --darkTeal: rgb(9, 23, 23);
  --medTeal: rgb(64, 100, 104);
  --red: rgb(162, 91, 96);
  --adobeOrange: rgb(239, 125, 56);
  --htmlOrange: rgb(211, 87, 53);
  --cssBlue: rgb(87,168,216);
  --jsYellow: rgb(237, 218, 104);
  --pink: rgb(184,91,138);
  --jqueryBlue: rgb(43,105,108);
  --wpBlue: rgb(19, 53, 165);
  --phpBlue: rgb(138,147,187);
  --postOrange: rgb(204,69,61);
  --sqlOrange: rgb(234,150,62);
  --d3Orange: rgb(231,138,88);
  --reactBlue: rgb(129,216,227);
  --vueGreen: rgb(100,181,135); }

.navigation {
  margin-bottom: 1rem; }
  .navigation .nav-bar {
    background-color: var(--navBg); }
    .navigation .nav-bar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      padding-right: 0; }
      .navigation .nav-bar ul a {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-decoration: none;
        width: 25%;
        transition: 1s all ease; }
        .navigation .nav-bar ul a:hover {
          background-color: var(--lightTeal);
          box-shadow: 0 0 10px var(--borderColor);
          text-shadow: 0 0 10px var(--pureWhite); }
        .navigation .nav-bar ul a li {
          padding: 15px 0;
          text-align: center; }

@media (max-width: 975px) {
  .navigation {
    display: none; } }

.hero {
  background: url("../images/spiralbg2.png") center right;
  background-size: cover;
  overflow: hidden;
  height: 32rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 5px var(--pureWhite);
    margin-bottom: 1rem; }
  .hero h2 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 2px var(--pureWhite);
    margin-top: 0; }
  .hero div {
    text-align: center; }
  .hero a button {
    background-color: var(--red);
    border: 1px solid transparent;
    border-radius: 360px;
    color: var(--pureWhite);
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 0 10px var(--red);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: 1s ease all;
    margin-bottom: 1rem;
    opacity: 0.8; }
    .hero a button:hover {
      background-color: var(--lightTeal);
      box-shadow: 0 0 90px var(--borderColor);
      text-shadow: 0 0 10px var(--pureWhite);
      opacity: 1; }

.about .image {
  border-left: 1px solid var(--borderColor);
  background: url("../images/nyc.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 30%;
  opacity: 0.7;
  transition: 1s ease all; }
  .about .image:hover {
    opacity: 1; }

.about .container {
  display: flex; }

.about .content {
  width: 70%; }

.skills ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .skills ul li {
    text-align: center;
    opacity: .8;
    transition: .5s ease all;
    border-radius: 10px; }
    .skills ul li:hover {
      opacity: 1; }

.skills a {
  text-decoration: none;
  width: 32%;
  margin-bottom: 1rem; }
  @media (max-width: 1200px) {
    .skills a {
      width: 48%; } }
  @media (max-width: 550px) {
    .skills a {
      width: 100%; } }

.skills .orange {
  background-color: var(--adobeOrange); }

.skills .light-orange {
  background-color: var(--htmlOrange); }

.skills .css-blue {
  background-color: var(--cssBlue); }

.skills .yellow {
  background-color: var(--jsYellow); }

.skills .red {
  background-color: var(--red); }

.skills .pink {
  background-color: var(--pink); }

.skills .blue {
  background-color: var(--jqueryBlue); }

.skills .wp-blue {
  background-color: var(--wpBlue); }

.skills .post-orange {
  background-color: var(--postOrange); }

.skills .php-blue {
  background-color: var(--phpBlue); }

.skills .sql-orange {
  background-color: var(--sqlOrange); }

.skills .d3-orange {
  background-color: var(--d3Orange); }

.skills .react-blue {
  background-color: var(--reactBlue); }

.skills .vue-green {
  background-color: var(--vueGreen); }

.skills .certs ul {
  justify-content: center; }

.skills .certs li {
  margin-left: auto;
  margin-right: auto; }

.skills .skill-name {
  background-color: var(--navBg);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 5px; }

.skills .color-box {
  box-shadow: 0 0 10px var(--offWhite);
  opacity: .8; }
  .skills .color-box:hover {
    box-shadow: 0 0 20px var(--pureWhite);
    background-color: var(--lightTeal);
    text-shadow: 0 0 10px var(--pureWhite);
    opacity: 1; }

.portfolio .container.boxed {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio .container.boxed h3 {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }

.portfolio .screenshots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem; }
  @media (max-width: 450px) {
    .portfolio .screenshots {
      flex-direction: column; } }
  .portfolio .screenshots .screenshot {
    opacity: .8;
    transition: .5s ease all;
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 10px var(--borderColor);
    width: 47%; }
    .portfolio .screenshots .screenshot:hover {
      opacity: 1; }
    .portfolio .screenshots .screenshot img {
      height: 100%;
      width: 100%; }
    @media (max-width: 450px) {
      .portfolio .screenshots .screenshot {
        width: 100%; } }

.portfolio .panel {
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease-out;
  width: 95%; }

.portfolio button.accordion {
  background-color: var(--darkTeal);
  border: 1px solid var(--borderColor);
  color: var(--pureWhite);
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 95%;
  transition: 1s ease all; }
  .portfolio button.accordion:hover {
    background-color: var(--lightTeal);
    box-shadow: 0 0 90px var(--borderColor);
    text-shadow: 0 0 10px var(--pureWhite);
    opacity: 1; }

.contact .form-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.contact .contact-form {
  width: 49%; }
  .contact .contact-form .form-item {
    display: flex;
    flex-direction: column; }
    .contact .contact-form .form-item input[type="text"],
    .contact .contact-form .form-item input[type="email"],
    .contact .contact-form .form-item textarea {
      border: 1px solid var(--borderColor);
      background: var(--darkTeal);
      color: var(--offWhite);
      font-size: 1rem;
      padding: .5rem;
      margin-bottom: 1rem; }
    .contact .contact-form .form-item textarea {
      height: 4rem; }
    .contact .contact-form .form-item label {
      text-shadow: 0 0 10px var(--pureWhite);
      text-transform: uppercase; }
  .contact .contact-form button[type="submit"] {
    background-color: var(--red);
    color: var(--pureWhite);
    border: 1px solid transparent;
    border-radius: 360px;
    font-size: 1rem;
    width: 200px;
    padding: .5rem 0;
    transition: 1s ease all;
    box-shadow: 0 0 10px var(--red);
    opacity: .8;
    text-transform: uppercase;
    margin-bottom: 1rem;
    cursor: pointer; }
    .contact .contact-form button[type="submit"]:hover {
      background-color: var(--lightTeal);
      box-shadow: 0 0 90px var(--borderColor);
      text-shadow: 0 0 10px var(--pureWhite);
      opacity: 1; }
