.screenshots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem; }
  .screenshots .screenshot {
    opacity: .8;
    transition: .5s ease all;
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 10px var(--borderColor);
    width: 47%; }
    .screenshots .screenshot:hover {
      opacity: 1; }
    .screenshots .screenshot img {
      height: 100%;
      width: 100%; }
