.portfolio .container.boxed {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio .container.boxed h3 {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }

.screenshots {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem; }
  @media (max-width: 450px) {
    .screenshots {
      flex-direction: column; } }
  .screenshots .screenshot {
    opacity: .8;
    transition: .5s ease all;
    border: 1px solid var(--borderColor);
    box-shadow: 0 0 10px var(--borderColor);
    width: 47%; }
    .screenshots .screenshot:hover {
      opacity: 1; }
    .screenshots .screenshot img {
      height: 100%;
      width: 100%; }
    @media (max-width: 450px) {
      .screenshots .screenshot {
        width: 100%; } }

.panel {
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease-out;
  width: 95%; }

button.accordion {
  background-color: var(--darkTeal);
  border: 1px solid var(--borderColor);
  color: var(--pureWhite);
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 95%;
  transition: 1s ease all; }
  button.accordion:hover {
    background-color: var(--lightTeal);
    box-shadow: 0 0 90px var(--borderColor);
    text-shadow: 0 0 10px var(--pureWhite);
    opacity: 1; }
