.skills ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .skills ul li {
    text-align: center;
    opacity: .8;
    transition: var(--transitionSpeed) ease all;
    border-radius: 10px; }
    .skills ul li:hover {
      opacity: 1; }

.skills a {
  text-decoration: none;
  width: 32%;
  margin-bottom: 1rem; }
  @media (max-width: 1200px) {
    .skills a {
      width: 48%; } }
  @media (max-width: 550px) {
    .skills a {
      width: 100%; } }

.skills .orange {
  background-color: var(--adobeOrange); }

.skills .light-orange {
  background-color: var(--htmlOrange); }

.skills .css-blue {
  background-color: var(--cssBlue); }

.skills .yellow {
  background-color: var(--jsYellow); }

.skills .red {
  background-color: var(--red); }

.skills .pink {
  background-color: var(--pink); }

.skills .blue {
  background-color: var(--jqueryBlue); }

.skills .wp-blue {
  background-color: var(--wpBlue); }

.skills .post-orange {
  background-color: var(--postOrange); }

.skills .php-blue {
  background-color: var(--phpBlue); }

.skills .sql-orange {
  background-color: var(--sqlOrange); }

.skills .d3-orange {
  background-color: var(--d3Orange); }

.skills .react-blue {
  background-color: var(--reactBlue); }

.skills .vue-green {
  background-color: var(--vueGreen); }

.skills .certs ul {
  justify-content: center; }

.skills .certs li {
  margin-left: auto;
  margin-right: auto; }

.skills .skill-name {
  background-color: var(--navBg);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 5px; }

.skills .color-box {
  box-shadow: 0 0 10px var(--offWhite);
  opacity: .8; }
  .skills .color-box:hover {
    box-shadow: 0 0 20px var(--lightTeal);
    background-color: var(--lightTeal);
    text-shadow: 0 0 10px var(--pureWhite);
    opacity: 1; }
